<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title mt-4">
        <div>
          <h1 class="h3">{{ $page.device.name }} - Developer report</h1>
        </div>
      </div>
    </div>

    <!-- Progress -->
    <p class="bold mb-1">Overall progress</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="{ width: $page.device.progress + '%' }"
        :aria-valuenow="$page.device.progress"
        aria-valuemin="0"
        aria-valuemax="1"
      >
        <p
          v-if="
            $page.device.progressStage != 'Unavailable' &&
            $page.device.progress >= 50
          "
          class="bold"
        >
          {{ $page.device.progressStage }}
        </p>
      </div>
      <p
        v-if="
          $page.device.progressStage != 'Unavailable' &&
          $page.device.progress < 50
        "
        class="bold external-label"
      >
        {{ $page.device.progressStage }}
      </p>
    </div>

    <!-- Unmaintained -->
    <div
      v-if="$page.device.tag == 'unmaintained'"
      class="ports-banner unmaintained bold"
    >
      <p>
        This device is not maintained, nobody is actively developing it and it
        will not receive fixes for known issues.
      </p>
      <p>
        If you are a developer we encourage you to contact the porter to
        continue development.
      </p>
    </div>

    <!-- FAQ's -->
    <div class="page-faq">
      <div class="container">
        <!-- Questions -->
        <div class="questions">
          <ul id="pageFaqs">
            <!-- Question -->
            <li>
              <!-- Toggler -->
              <a
                v-b-toggle="'collapse1'"
                role="button"
                aria-expanded="false"
                aria-controls="collapse1"
              >
                How can I improve page data?
                <g-image
                  class="angle-icon"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
              <!-- Collapse -->
              <b-collapse
                id="collapse1"
                accordion="faq-accordion"
                data-parent="#pageFaqs"
              >
                <p class="mb-3">
                  Take a look at the following report to complete the data
                  available for your port.
                </p>

                <ul class="mb-2">
                  <!-- Device type -->
                  <li v-if="$page.device.deviceType">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;This is a {{ $page.device.deviceType }}.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Device type is not set!
                  </li>

                  <!-- Port type -->
                  <li v-if="$page.device.portType">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;This is a {{ $page.device.portType }} port.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Port type is not set!
                  </li>

                  <!-- Description -->
                  <li v-if="$page.device.description">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Device description is set.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;No device description!
                  </li>

                  <!-- Buy link -->
                  <li v-if="$page.device.buyLink == 'disabled'">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Buy button is disabled for this device.
                  </li>
                  <li v-else-if="$page.device.buyLink">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Custom buy link is set to:
                    {{ $page.device.buyLink }}
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Buy link is set to default:
                    https://swappa.com/search?q={{ $page.device.name }}
                  </li>
                </ul>

                <h4 class="mb-2">Installation procedure</h4>

                <ul class="mb-3">
                  <!-- Installer availability -->
                  <li v-if="!$page.device.noInstall">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Installer is available.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Installer is not available!
                  </li>

                  <!-- Instructions link -->
                  <li v-if="$page.device.installLink">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Installation instructions are available at:
                    {{ $page.device.installLink }}
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;No install link provided!
                  </li>

                  <!-- Markdown rendering -->
                  <li v-if="$page.device.enableMdRendering">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Installation instructions are rendered in markdown.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Installation instructions are not available in
                    markdown.
                  </li>
                </ul>

                <!-- Feature matrix availability -->
                <h4 class="mb-2">State of the feature matrix</h4>
                <div v-if="$page.device.portStatus.length" class="mb-3">
                  <p v-if="$page.device.portStatusMissing.length" class="mb-2">
                    Some features are not set in the device configuration file.
                  </p>

                  <p v-else class="mb-2">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Everything is set correctly.
                  </p>

                  <PortStatus
                    v-if="$page.device.portStatusMissing.length"
                    class="missing-data"
                    :port-status="$page.device.portStatusMissing"
                  />
                </div>
                <div v-else class="mb-3">
                  <p>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Feature matrix is not available!
                  </p>

                  <!-- Manually added maturity -->
                  <p v-if="$page.device.progress">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Maturity is set manually.
                  </p>
                  <p v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Maturity is not set.
                  </p>
                </div>

                <!-- Device info table status -->
                <h4 class="mb-2">State of the device info table</h4>
                <div v-if="$page.device.deviceInfo.length" class="mb-3">
                  <p v-if="$page.device.deviceInfoMissing.length" class="mb-2">
                    Some data is missing in the device info table.
                  </p>

                  <p v-else class="mb-2">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Everything is set correctly.
                  </p>

                  <PortStatus
                    v-if="$page.device.deviceInfoMissing.length"
                    class="missing-data"
                    :port-status="$page.device.deviceInfoMissing"
                  />
                </div>
                <div v-else class="mb-3">
                  <p>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;Device info is not available!
                  </p>
                </div>

                <h4 class="mb-2">External links and contributors</h4>

                <ul class="mb-3">
                  <!-- Discussions -->
                  <li v-if="$page.device.externalLinks.length > 1">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;External links for this device are set.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;No external links set.
                  </li>

                  <!-- Contributors -->
                  <li v-if="$page.device.contributors.length">
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/working.svg"
                    />&nbsp;Contributors list is avaiable.
                  </li>
                  <li v-else>
                    <g-image
                      class="state-icon"
                      src="~/assets/img/feature-matrix/not-working.svg"
                    />&nbsp;No contributors added for this device.
                  </li>
                </ul>
              </b-collapse>
            </li>

            <!-- Question -->
            <li
              v-if="
                $page.device.portStatus.length && $page.device.nextProgressStage
              "
            >
              <!-- Toggler -->
              <a
                v-b-toggle="'collapse2'"
                role="button"
                aria-expanded="false"
                aria-controls="collapse2"
              >
                Working features required for the next stage of development ({{
                  $page.device.nextProgressStage
                }})
                <g-image
                  class="angle-icon"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
              <!-- Collapse -->
              <b-collapse
                id="collapse2"
                accordion="faq-accordion"
                data-parent="#pageFaqs"
              >
                <PortStatus
                  v-if="$page.device.nextStageRequirements.length"
                  class="missing-data"
                  :port-status="$page.device.nextStageRequirements"
                />
              </b-collapse>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    portType
    deviceType
    progress
    progressStage
    nextProgressStage
    noInstall
    installLink
    buyLink
    description
    tag
    enableMdRendering
    portStatus { categoryName }
    portStatusMissing {
      categoryName
      features { name value }
    }
    nextStageRequirements {
      categoryName
      features { name value }
    }
    deviceInfo { name }
    deviceInfoMissing {
      categoryName
      features { name value }
    }
    contributors { name }
    externalLinks { name }
  }
}
</page-query>

<script>
import PortStatus from "~/components/devices/PortStatus.vue";
import { BCollapse, VBToggle } from "bootstrap-vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "robots",
          content: "noindex"
        },
        {
          name: "description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Developer report"
        },
        {
          property: "og:description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        }
      ]
    };
  },
  components: {
    PortStatus,
    BCollapse
  },
  directives: {
    "b-toggle": VBToggle
  }
};
</script>
