<template>
  <!-- Footer -->
  <footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
          <p class="bold">Powered By</p>
          <a href="http://www.ubports.com/">
            <g-image src="~/assets/img/ubports-logo.svg" alt="ubports-logo" />
          </a>
        </div>
        <!-- Text -->
        <p class="footer-text">
          UBports is a global non-profit dedicated to putting you in control of
          the future of the mobile for the public good.
        </p>
        <!-- Social -->
        <div class="footer-links">
          <p class="bold">Follow Us</p>
          <ul>
            <!-- Icon -->

            <li>
              <a
                href="https://forums.ubports.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/yumi.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>

            <li>
              <a
                href="https://soundcloud.com/ubports"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/soundcloud.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://framapiaf.org/@ubports"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/mastodon.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://pixelfed.social/ubports"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/pixelfed.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://www.linkedin.com/company/ubports-com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/linkedin.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://www.facebook.com/ubports/">
                <g-image
                  src="~/assets/img/services/facebook.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a href="https://twitter.com/ubports">
                <g-image
                  src="~/assets/img/services/twitter.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://www.instagram.com/ubports/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/instagram.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://www.youtube.com/c/UBports"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/youtube.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
            <!-- Icon -->
            <li>
              <a
                href="https://ubports.com/blog/ubports-blog-1/feed"
                target="_blank"
                rel="noreferrer noopener"
              >
                <g-image
                  src="~/assets/img/services/rss.svg"
                  alt="ext-link-icon"
                  class="ext-link-icon"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <p>
          © Copyright 2021 UBports Foundation<span class="d-none d-xl-inline"
            >•</span
          >
        </p>
        <p>
          Ubuntu and Canonical are registered trademarks of Canonical Ltd.<span
            class="d-none d-xl-inline"
            >•</span
          >
        </p>
        <p class="d-none d-lg-flex">
          <a href="#">License CC-BY-SA-4.0<span>•</span></a>
          <a href="#">Terms & conditions<span>•</span></a>
          <a href="#">Privacy policy<span>•</span></a>
          <a
            href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io/-/issues"
            >Submit an issue</a
          >
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>
